# {{ ansible_managed }}
#
{% if ssh_config_system_wide %}
# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.
{% endif %}

{% for host_config in ssh_config_host_configs %}
Host {{host_config.host}}
{% for key, value in host_config|dictsort %}
{% if key|lower != "host" %}
    {{key}} {{value}}
{% endif %}
{% endfor %}

{% endfor %}
